/*********  Colors *********/
/*  beige - #f4e8c0
	pink - #f37d80
	brown - #7a5527
	green - #94cd8a
	yellow - #fcdc7b
 */

/*********  Start Global *********/
h1{
	font-family: 'Helvetica Neue';
	color: #7a5527;
	font-size: 35px;
}

h2{
	font-family: 'Helvetica Neue';
	font-size: 20px;
	color: #7a5527;
}

p{
	font-family: 'Helvetica Neue';
	margin-top: 5px;
	margin-bottom: 5px;
	/*color: #7a5527;*/
}

#header_bg{
	background-color: #f37d80;
}

#footer_bg{
	background-color: #f37d80;
}

a{
	text-decoration: none;

}

a:link{
	color: #f4e8c0;
}

a:visited{
	color: #f4e8c0;
}

a:hover{
	color: #7a5527;
}

a:active{
	color: #7a5527;
}
/*********  End Global *********/







/*********  Start Navigation *********/

#logo{
	float: left;
	margin-bottom: 0px;
	margin-top: 10px;
}

#companyName{
	padding-top: 100px;
}

nav{
	padding-top: 165px;
	font-family: 'Helvetica Neue';
	list-style-type: none;
	font-size: 20px;
}

nav ul{
	width: 340px;
	list-style-type:none;

}

nav li{
	list-style-type:none;
	float:left;
	width: 113px;
	text-align:right;
	color: #94cd8a;
}

/*********  End Navigation *********/


/*********  Start index.html *********/
img{
	/*padding-bottom: 10px;*/
}

#slogan{
	text-align: center;
	padding-top: 20px;
	margin: 0;
}

#slogan2{
	text-align: center;
	padding-bottom: 5px;
	margin: 0;
}

.fancybox{
	padding-left: 25px;
	padding-right: 25px;
}

.container{
	background-color: #f4e8c0;
}

.gallery{
	padding-bottom: 10px;
}


/*********  End index.html *********/


/*********  Start Footer *********/
footer{
	font-family: 'Helvetica Neue';
}
/*********  End Footer *********/




/*********  Start menu.html *********/
.secondMenuColumn{
	padding-top: 60px;
}
/*********  End main.html *********/    






























/*********  Start contact.html *********/
/*Map container */
.map_container{
	background-image: url(../img/map.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 520px;
	width:537px;
	position: relative;
	/*color: #f4e8c0;*/
	font-family: 'Helvetica Neue';
	font-size: 12px;
	float: right;
	margin: 0px 0px 0px 20px;
	padding-top: 20px;
}

.map_container a.dot{
	background-image: url(../img/map_marker.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 59px;
	width: 39px;
	/*Block will make it act more like a div*/
	display: block;
	position: absolute;
	cursor: pointer;
}

.map_container a.dot:hover{
	background-image: url(../img/map_marker_hover.png);
}

.map_container a.dot.selected{
	background-image: url(../img/map_marker_active.png);
}

.map_container .detail_container{
	position: absolute;
	top: 350px;
	left: 20px;
	width: 350px;
	height: 200px;
	color: #7a5527;
}

.map_container .detail{
	position: absolute;
	top: 0px;
	width: 350px;
	
	padding: 10px 12px 10px 12px;
	border: 2px solid #7a5527;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}



.map_container .detail .info{
	width: 330px;
	float: left;
	font-weight: bold;
	background-color: #7a5527;
	padding-left: 20px;
	padding-top: 20px;
	color: #f4e8c0;
}

.map_container .clear_both{ 
	clear: both; 
	line-height: 1px;
}

.map_container .info h2{
	margin: 0px 0px 0px 0px;
	font-size: 18px;
	font-weight: bold;
	color: #f4e8c0;
}
.map_container .info h3{
	margin: 0px 0px 12px 0px;
	font-size: 12px;
	letter-spacing: 2px;
	color: #f37d80;
}

.map_container p{ 
	margin: 0px 0px 12px 0px; 
}

.map_container a, a:visited{ 
 margin: 0px 10px 0px 0px;
}

.country_detail_container{
	display: none;
}

.contactHeader{
	margin-bottom: 0px;
}

.contactDetail{
	color: #7a5527;
}

/*********  End contact.html *********/
