.etabs { 
	margin: 0; 
	padding: 0; 
}

.tab { 
	display: inline-block; 
	zoom:1; *display:inline; 
	background: #935135; 
	border: solid 1px #D4CDAF; 
	border-bottom: none; 
	-moz-border-radius: 4px 4px 0 0; 
	-webkit-border-radius: 4px 4px 0 0; 
}

.tab a { 
	font-size: 16px; 
	line-height: 2em; 
	display: block; 
	padding: 0 20px; 
	outline: none; 
	text-decoration: none;
	color:#D1D774;
	font-family: 'Helvetica Neue';
}

.tab.active { 
	background: #D4CDAF; 
	padding-top: 6px; 
	position: relative; 
	top: 1px; 
	border-color: #D4CDAF; 
}

.tab a.active { 
	font-weight: bold; 
	color: #935135;
}

h1{
	font-family: 'Helvetica Neue';
	color: #935135;
	font-size: 30px;
}

.tab-container .panel-container { 
	background: #D4CDAF; 
	border: solid #D4CDAF 1px; 
	padding: 20px; 
	-moz-border-radius: 0 4px 4px 4px; 
	-webkit-border-radius: 0 4px 4px 4px; 
	font-family: 'Helvetica Neue';
	color: #935135;
}

    