@charset "UTF-8";
.grey {color: #aaa;}

/*Map container */
.map_container{
	background-image: url(../images/template/blue-map.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 325px;
	width:760px;
	position: relative;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
	float: right;
	margin: 0px 0px 0px 20px;
}

.map_container a.dot{
	background-image: url(../images/template/dot_red.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 23px;
	width: 20px;
	/*Block will make it act more like a div*/
	display: block;
	position: absolute;
	cursor: pointer;
}

.map_container a.dot:hover{
	background-image: url(../images/template/dot_yellow.png);
}

.map_container a.dot.selected{
	background-image: url(../images/template/dot_green.png);
}

.map_container .form_continent{
	position: absolute;
	top: 275px;
	left: 35px;
}

.map_container .detail_container{
	position: absolute;
	top: 35px;
	left: 480px;
	width: 240px;
	height: 260px;
}

.map_container .country_detail{
	position: absolute;
	top: 0px;
	width: 230px;
	padding: 10px 0px 0px 12px;
	border-left: 1px solid #a9b5c8;
	border-top: 1px solid #a9b5c8;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.map_container .country_detail .country_photo{
	float: left;
	margin: 0px 15px 0px 0px;
	border: 1px solid #fff;
	border-radius: 8px;
	box-shadow: 0px 5px 3px #4e5d74;
	-webkit-box-shadow: 0px 5px 3px #4e5d74;
	-moz-box-shadow: 0px 5px 3px #4e5d74;
	-webkit-border-radius: 8px;
}

.map_container .country_detail .country_info{
	width: 130px;
	float: left;
}

.map_container .clear_both{ 
	clear: both; 
	line-height: 1px;
}

.map_container .country_info h2{
	margin: 0px 0px 0px 0px;
	font-size: 18px;
	font-weight: bold;
}
.map_container .country_info h3{
	margin: 0px 0px 12px 0px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #00bdff;
}

.map_container p{ 
	margin: 0px 0px 12px 0px; 
}

.map_container a, a:visited{
 color: #AA0000; 
 margin: 0px 10px 0px 0px;
}

.country_detail_container{
	display: none;
}
